# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
*.log

# Spark
spark-warehouse/
metastore_db/

# OS
.DS_Store
Thumbs.db
